@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }
  .col {
    width: 6.25%; 
  }
  .container {
    display: flex;
    column-width: 10em;
    column-count: 3;
  }
  
  .item {
    flex: 1;
  }
h1{
    font-size: 20px;
          color: rgb(255, 255, 255);
                    margin-bottom: 60px;
}
   h2{
    color: white;
    padding-top: 23;
   }
body{
    background-color: black;
        background-image : url(https://julienalour.files.wordpress.com/2013/12/wallpaper-fonds-decran-arriere-plan-pour-site-web-2-0-full-hd.jpg); 
       
}
p{
    color: white;
    padding-bottom: 4px;
}
img {
    padding-left: 100px;
}
h3{
    color: white;
}
nav{
  
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 0;
    height: 48px;
    min-height: 48px;
    background: #201e1d;
}
h4{
    color: azure;
    padding-right: 700px;
    font-size: 40px;
}
button{
    color: azure; text-decoration: none;
    
}
img {
    max-width: 100%;
  }